body {
  background-color: rgba(31, 163, 255, 0.14);
}
.header {
  background-color: #00121e;
  height: 72px;
  padding-top: 24px;
}
.logo {
  width: 84px;
  height: auto;
}
.formSection {
  padding-top: 60px;
  padding-bottom: 60px;
}
.whiteForm {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 3.75806px 15.97177px 0px rgba(0, 24, 41, 0.26);
  padding: 35px;
}
.fromTitle {
  color: #181818;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.label {
  display: block;
  margin-bottom: 8px;
  color: #181818;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input {
  display: block;
  width: 100%;
  height: 35px;
  margin-bottom: 16px;
  color: #181818;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #929292;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.input::placeholder {
  color: #929292;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.codeIMG {
  margin-bottom: 16px;
}
.errorMSG {
  color: #ef1e1e;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 8px;
}
.successMSG {
  color: #469763;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 8px;
}
.orangeSubmit {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 10px;
  background: #e57128;
  height: 44px;
  width: 100%;
  border: none;
}
.orangeSubmit:hover {
  background: #ac5722;
}
.orangeSubmit img {
  width: 14px;
  height: 14px;
}
.input.error-input {
  border: 2px solid #ef1e1e; /* Red border for invalid input */
}
